/*
 * App.css
 * @author mfyance
 */

/* =============
    Helper
============= */
.cleaner {
    box-sizing: border-box;
    *zoom: 1;
}
.cleaner:after {
    clear: both;
}
.cleaner:before,
.cleaner:after {
    display: table;
    line-height: 0;
    content: "";
}

/* =============
    Styles
============= */
:root{
    --jne: #a00;
    --primary: #ff4343;
    --secondary: #ffa549;
    --terciary: #f1f1f1;
    --lucida: 'Lucida';
    --arial: 'ArialRounded';
    --swiss: 'Swiss';    
}

page-declara{
    width: 100vw;
    height: 100vh;
    background: #ddd;
    display: block;
}
.declara{
    width: 100%;
    max-width: 1800px;
    margin: 0 auto;
    padding: 0 20px;
    position: relative;
    height: 100vh;
    z-index: 2
}
.declara-titulo{
    font: 20px 'Swiss-Light';
}

.logo-jne{
    width: 120px;
    position: absolute;
    top: 0;
    left: 0;
}
.logo-declara{
    width: 260px;
    position: absolute;
    top: 10px;
    right: 0;
    z-index: 2;
}
.logo-circle{
    width: 500px;
    position: absolute;
    top: -76px;
    z-index: 2;
    right: -50px;
}
.w-100{
    width: 100%
}

.declara-servers{
    display: flex;
    width: 100%;
    align-content: space-around;
    height: 100vh;
    z-index: 3
}

server{
    width: calc(100%/3);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.server-img{
    max-width: 130px;
    margin: 20px 0;
    filter: grayscale(1);
}
.server-detalle{
    padding: 20px;
    border: 1px solid #000;
    border-radius: 20px;
}
.server-nombre{
    font:30px Arial-Extra-Bold
}




.button {
    -webkit-transition: background-color .3s ease-in-out;
    -o-transition: background-color .3s ease-in-out;
    transition: background-color .3s ease-in-out;
    display: inline-block;
    margin: 0px;
    border: none;
   /* font-family: inherit;*/
    font-size: inherit;
    color: inherit;
    background: none;
    cursor: pointer;
    outline: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative;
    z-index: 1;
   /* font: 14px "Lucida-Italic";
    font: 1.4rem "Lucida-Italic";*/
    text-transform: uppercase;
    vertical-align: top;
    -webkit-transition: 0.2s;
    transition: 0.2s;
}




.button--is-primary {
 -webkit-transition: color .4s, padding-left .55s, padding-right .55s;
    -o-transition: color .4s, padding-left .55s, padding-right .55s;
    transition: color .4s, padding-left .55s, padding-right .55s;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 0;
    padding-right: 0;
    position: relative;
    z-index: 1;
    font-size: 14px;
    font-size: 1.4rem;
    width: 100%;
    margin: 15px 0px;
        height: auto !important;
        opacity: 0
}

 .button--is-primary[disabled]{
    background-color: #ccc;
    cursor: not-allowed;
}
.button--is-primary {
    -webkit-transition: color .4s, padding-left .55s, padding-right .55s;
    -o-transition: color .4s, padding-left .55s, padding-right .55s;
    transition: color .4s, padding-left .55s, padding-right .55s;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 60px;
    padding-right: 40px;
    position: relative;
    z-index: 1;
    font: 16px 'Lucida-Italic';
    max-width: 80%;
}

.button--is-primary:not([disabled]):hover:after {
    -webkit-transition: all .7s cubic-bezier(.52, 0, .08, 1) 50ms;
    -o-transition: all .7s cubic-bezier(.52, 0, .08, 1) 50ms;
    transition: all .7s cubic-bezier(.52, 0, .08, 1) 50ms;
    width: 24px;
    background-color: rgba(73, 190, 65, .5)
}
.button--is-primary:not([disabled]):after,
.button--is-primary:not([disabled]):before {
    -webkit-transition: all .25s cubic-bezier(.52, 0, .08, 1) 50ms;
    -o-transition: all .25s cubic-bezier(.52, 0, .08, 1) 50ms;
    transition: all .25s cubic-bezier(.52, 0, .08, 1) 50ms;
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    z-index: -2;
    width: calc(100% - 24px);
    height: 100%;
    background-color: #ffa549;
}
.button--is-primary:not([disabled]):after {
    -webkit-transition: all .15s cubic-bezier(.82, 0, .28, 1) 0s;
    -o-transition: all .15s cubic-bezier(.82, 0, .28, 1) 0s;
    transition: all .15s cubic-bezier(.82, 0, .28, 1) 0s;
    z-index: -1;
    width: calc(100% - 12px);
    opacity: 0.8;
}
.button--is-primary:not([disabled]):hover {
    color: #fff;
    background-color: #e20e0e;
    padding-left: 40px !important;
    padding-right: 60px !important;

}

.button--is-primary:not([disabled]):hover:before {
    -webkit-transition: all .4s cubic-bezier(.82, 0, .28, 1) 0s;
    -o-transition: all .4s cubic-bezier(.82, 0, .28, 1) 0s;
    transition: all .4s cubic-bezier(.82, 0, .28, 1) 0s;
    width: 12px;
    background-color: #ffa549
}
.button--is-primary:not([disabled]):hover:after {
    -webkit-transition: all .7s cubic-bezier(.52, 0, .08, 1) 50ms;
    -o-transition: all .7s cubic-bezier(.52, 0, .08, 1) 50ms;
    transition: all .7s cubic-bezier(.52, 0, .08, 1) 50ms;
    width: 24px;
    background-color: #ffa549;
}
.button--is-primary:not([disabled]):active {
    background-color: #b10000;
}
.button--is-primary i{
    margin-right: 10px;
    vertical-align: -5px !important;
    font-size: 20px !important
}




.button.bg--is-red {
    color: #fff;
    background-color: #e20e0e;
    /* border: #db5726 1px solid; */
}













.box {
    width: 300px;
    height: 460px;
    position: relative;
    
    display: inline-flex;
    cursor: pointer;
    color: #fff;
    -webkit-transition: background 0.4s 0.5s;
    transition: background 0.4s 0.5s;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: inset 0 0 0 10px #ffd8b8;
    text-transform: uppercase;
}
.box-one{
   background: linear-gradient(42deg, #ffffff00 0%, #989898 100%);
}
.box-two{
    background: linear-gradient(42deg, #ffffff14 0%, #b6aeac 100%);
}
.box-three{
    background: linear-gradient(42deg, #fff2b53d 0%, #e09b00 100%);
}

.box:hover {
    background: linear-gradient(42deg, #ffffff 0%, #ffcf9f 100%);
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
    color: #e20e0e;
    box-shadow: inset 0 0 0 10px #ffc493;
}

.box:hover .server-img{
    -webkit-filter: grayscale(0);
    -o-filter: grayscale(0);
    filter: grayscale(0);

}
.box h3 {
    
    font: 180px 'ArialRounded';
    line-height: 370px;
    margin: 0;
    font-weight: 400;
    width: 100%;
}

.box span {
    display: block;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 13px;
    padding: 5px;
}

.box h3,
.box span {
    -webkit-transition: color 0.4s 0.5s;
    transition: color 0.4s 0.5s;
}

.box:hover h3,
.box:hover span {
    color: #fff;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}

.box svg {
    position: absolute;
    top: 0;
    left: 0;
}

.box svg line {
    stroke-width: 3;
    stroke: #b50c00;
    fill: none;
    -webkit-transition: all .8s ease-in-out;
    transition: all .8s ease-in-out;
}

.box:hover svg line {
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
}

.box svg line.top,
.box svg line.bottom {
    stroke-dasharray: 330 240; 
}

.box svg line.left,
.box svg line.right {
    stroke-dasharray: 490 400;
}

.box:hover svg line.top {
    -webkit-transform: translateX(-600px);
    transform: translateX(-600px);
}

.box:hover svg line.bottom {
    -webkit-transform: translateX(600px);
    transform: translateX(600px);
}

.box:hover svg line.left {
    -webkit-transform: translateY(920px);
    transform: translateY(920px);
}

.box:hover svg line.right {
    -webkit-transform: translateY(-920px);
    transform: translateY(-920px);
}

/* Alternatives */

/* Color */
.box {
}

.box:hover h3,
.box:hover span {
    color: #fe6f83;
}

.box svg line {
    stroke-width: 8;
}

.box:hover svg line {
    stroke: #d86d00;
}


.box:hover .button--is-primary{
    opacity: 1;
}








@keyframes move_wave {
    0% {
        transform: translateX(0) translateZ(0) scaleY(1)
    }
    50% {
        transform: translateX(-25%) translateZ(0) scaleY(0.55)
    }
    100% {
        transform: translateX(-50%) translateZ(0) scaleY(1)
    }
}
.waveWrapper {
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    z-index: 1;
}
.waveWrapperInner {
    position: absolute;
    width: 100%;
    overflow: hidden;
    height: 100%;
    bottom: -1px;
    background-image: linear-gradient(to top, #ffb77c 20%, #fff4e9 80%);
}
.bgTop {
    z-index: 15;
    opacity: 0.5;
}
.bgMiddle {
    z-index: 10;
    opacity: 0.75;
}
.bgBottom {
    z-index: 5;
}
.wave {
    position: absolute;
    left: 0;
    width: 200%;
    height: 100%;
    background-repeat: repeat no-repeat;
    background-position: 0 bottom;
    transform-origin: center bottom;
}
.waveTop {
    background-size: 50% 100px;
}
.waveAnimation .waveTop {
  animation: move-wave 3s;
   -webkit-animation: move-wave 3s;
   -webkit-animation-delay: 1s;
   animation-delay: 1s;
}
.waveMiddle {
    background-size: 50% 120px;
}
.waveAnimation .waveMiddle {
    animation: move_wave 10s linear infinite;
}
.waveBottom {
    background-size: 50% 100px;
}
.waveAnimation .waveBottom {
    animation: move_wave 15s linear infinite;
}

.bgBottom{
    background-image: url(../img/personas.svg);
    background-repeat: no-repeat;
    background-position: center;
}