/*
 * Fuentes
 * @author mfyance
 */

/*
 * Arial Rounded MT
 */
@font-face {
    font-family: 'Arial-Extra-Bold';
    src: 
        url('../fonts/arial/ArialRoundedMTExtraBold.woff') format('woff'),
        url('../fonts/arial/ArialRoundedMTExtraBold.ttf') format('truetype')
}

/*
 * Swiss721 L
 */
@font-face {
    font-family: 'Swiss-Light';
    src: 
        url('../fonts/swiss/Swiss721LightBT.woff') format('woff'),
        url('../fonts/swiss/Swiss721LightBT.ttf') format('truetype')
}

@font-face {
    font-family: 'Swiss-Bold';
    src: 
        url('../fonts/swiss/Swiss721BoldBT.woff') format('woff'),
        url('../fonts/swiss/Swiss721BoldBT.ttf') format('truetype')
}

/*
 * Lucida Sans
 */
@font-face {
    font-family: 'Lucida-Italic';
    src:        
        url('../fonts/lucida/LucidaSansItalic.woff') format('woff'),
        url('../fonts/lucida/LucidaSansItalic.ttf') format('truetype')
}

